footer {
    padding: 1em;
}

footer .firma {
    float: right;
}

canvas {
    border: 1px solid gray;
}

#editor {
    background-color: white;
    height: 100%;
    position:absolute; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#contenedor {
    height: 300px; 
    padding: 10px; 
    border: solid 1px gray;
    position:relative;
}
