{% extends 'base.html' %}

{% block extra_head %}
<script src="/static/pilasweb/pilasengine/libs/require.js"></script>

<script type="text/javascript">

  require.config({
    baseUrl: "/static/pilasweb/pilasengine",
  });

  require(['main'], function(pilasengine){
    window.pilasengine = pilasengine;
    console.log("hola");
  });


  window.onload = function() {ejecutar_codigo()};

</script>


  <!-- Agregando codemirror -->
  <link rel="stylesheet" href="static/CodeMirror/lib/codemirror.css">
  <link rel="stylesheet" href="static/CodeMirror/lib/util/simple-hint.css">
  <link rel="stylesheet" href="static/CodeMirror/doc/docs.css">

  <script src="static/CodeMirror/lib/codemirror.js"></script>
  <script src="static/CodeMirror/lib/util/simple-hint.js"></script>
  <script src="static/CodeMirror/lib/util/javascript-hint.js"></script>
  <script src="static/CodeMirror/mode/javascript/javascript.js"></script>

  <style type="text/css">.CodeMirror {border: 1px solid #eee;} .CodeMirror-scroll { height: 100% }</style>

  <!-- fin codemirror -->
{% endblock %}

{% block content %}

<canvas id='canvas' width=320 height=240></canvas>

<p>
<button id='ejecutar' class='btn btn-primary' onclick='ejecutar_codigo(); return false;'><i class="icon-play icon-white"></i>Ejecutar programa</button>

<p>
<div id='contenedor'>
<textarea id="code" name="code">var pilas = new pilasengine.Pilas("canvas", 'static/pilasweb/data/');

pilas.depurador.definir_modos({depuracion: true});

var aceituna = new pilas.actores.Aceituna();
aceituna.x = 100;
aceituna.y = 25;
</textarea>
</div>

<p>Usá <code>ctrl+n</code> para autocompletar!

<script>
  CodeMirror.commands.autocomplete = function(cm) {
    console.log(cm);
    CodeMirror.simpleHint(cm, CodeMirror.javascriptHint);
  }
  
  window.editor = CodeMirror.fromTextArea(document.getElementById("code"), {
    lineNumbers: true,
    extraKeys: {"Ctrl-N": "autocomplete"},
    mode: 'javascript',
    indentWithTabs: false,
    matchBrackets: true,
  });

  function ejecutar_codigo() {
    eval(window.editor.getValue());
  }

</script>


{% endblock %}
